body {
  background: #f5f5f5;
  // background: rgb(212,17,202);
  // background: linear-gradient(117deg, rgba(212,17,202,1) 0%, rgba(255,255,255,1) 100%);
}

.tableRow {
  display: flex;
}

.tableCell {
  flex: 1;
  padding: 8px;
  border: 1px solid #e0e0e0;
}

.react-tabs {
  .react-tabs__tab-list {
    border-bottom: none !important;
  }
  
  .react-tabs__tab {
    background: #ffffff;
    color: #333333;
    border: 1px solid #e0e0e0;
    
    &--selected {
      background: #3498db;
      color: #ffffff;
    }
  }
}


