body {
  background: rgb(212,17,202);
background: linear-gradient(117deg, rgba(212,17,202,1) 0%, rgba(255,255,255,1) 100%);

}
.tableRow{
    display: flex;
  }
  
  .tableCell {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
  }
  
.react-tabs {
  .react-tabs__tab-list {
    border-bottom: none !important;
  }
}
