.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabs button {
    margin: 0;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
    color: #333;
}

.tabs button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.tabs .activeTab {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.videoContainer {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Arial, sans-serif';
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.videoWrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}

.videoTitle {
    padding: 12px 15px;
    font-size: 0.9em;
    line-height: 1.4;
    color: #333;
    background-color: #ffffff;
    min-height: 60px; // Adjust this value to show more or less of the title
    display: -webkit-box;
    -webkit-line-clamp: 3; // Show up to 3 lines of text
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoFrame {
    position: relative;
    padding-bottom: 56.25%; // 16:9 aspect ratio
    height: 0;
    overflow: hidden;
}

.videoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.loadMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
    background-color: #45a049;
}

@media screen and (min-width: 576px) {
    .videoGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .videoGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .videoGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .videoGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}
